<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()"> Atras </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goLogin()"> Ingresar </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Create una cuenta</h1>
  <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item color="primary">
      <ion-input
        type="text"
        label="Usuario"
        placeholder="Ingrese su usuario"
        formControlName="username"
      ></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-input
        type="email"
        label="Correo Electronico"
        placeholder="Ingrese su correo electronico"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-input
        type="password"
        label="Contraseña"
        placeholder="Ingrese su contraseña"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" shape="round"
      >Registrar</ion-button
    >
    <ion-toast
      color="danger"
      [isOpen]="isToastOpen"
      message="contraseña o correo incorrecto"
      [duration]="3000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
  </form>
  <p>
    Precione el boton ingresar para aceptar <br />
    nuestros terminos y condiciones.
  </p>
</ion-content>
