<ion-header [translucent]="true">
  <ion-toolbar
    [ngClass]="{'titulo4A': this.router.url == '/chat4a', 'titulo4B': this.router.url == '/chat4b'}"
  >
    <ion-buttons slot="primary">
      <ion-button (click)="goHome()"> Atras </ion-button>
    </ion-buttons>
    @if(this.router.url == '/chat4a'){
    <ion-title>Chat PPS-4A </ion-title>
    }@else {
    <ion-title>Chat PPS-4B </ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(this.authService.currentUserSig()) {
  <!-- Contenido Main -->
  <div class="card text-center cardContainer">
    <div class="card-body">
      <div data-bs-spy="scroll" class="contenedorMensajes">
        @if(this.router.url == '/chat4a'){
        <p
          class="mensajeItem"
          *ngFor="let message of messages4A"
          [ngClass]="agregarClase(message.userName)"
        >
          <span> {{ message.userName }} </span> <br />
          {{ message.text }} <br />
          <span> {{ message.date }} </span>
        </p>
        }@else {
        <p
          class="mensajeItem"
          *ngFor="let message of messages4B"
          [ngClass]="agregarClase(message.userName)"
        >
          <span> {{ message.userName }} </span> <br />
          {{ message.text }} <br />
          <span> {{ message.date }} </span>
        </p>
        }
      </div>
    </div>
    <div class="card-footer text-body-secondary contenedorFooter">
      <form [formGroup]="form" (ngSubmit)="enviarMensaje()">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese su mensaje"
            formControlName="mensaje"
          />
          <button class="input-group-text" id="basic-addon2">
            <img
              src="../../../assets/img/telegram.svg"
              class="imgSend icon-telegram"
              alt="Send"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
  } @else {
  <img
    class="iconoChat"
    src="../../../assets/img/telegram.svg"
    alt=""
    (click)="cambiarEstado()"
  />
  }
</ion-content>
