ion-content {
  --background: #f5f5f3;

  h1 {
    font-weight: 700;
    font-size: 26px;
    color: #010100;
    margin-bottom: 15%;
    margin-top: 15%;
    text-align: center;
  }
  ion-grid {
    ion-row {
      ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #135d54;
        border: solid 1px #fff;
        color: #fff;
        text-align: center;
        border-radius: 10px;
      }
      ion-col:active {
        scale: (0.95);
      }
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  ion-content {
    ion-row {
      ion-col {
        height: 28vh;
        img {
          height: 100%;
        }
      }
    }
  }
}

/* Estilos para pantalla horizontal con ancho mayor a 600px */
@media screen and (orientation: landscape) and (min-width: 601px) {
  ion-content {
    ion-row {
      ion-col {
        height: 40vh;
        img {
          height: 100%;
        }
      }
    }
  }
}
