ion-header {
  ion-toolbar {
    --background: transparent;
  }
  ion-row {
    margin: 6vh;
    ion-label,
    p {
      font-size: 3rem;
      color: var(--ion-color-white);
      p {
        margin-top: 10px;
      }
    }
  }
}
.back {
  margin: 15px;
  font-size: 2.5rem;
}

ion-content {
  --background: url("../../../assets/imgs/2.png") no-repeat center center/cover;
  ion-list {
    transform: translateY(12vh);
    background: transparent;
    ion-item {
      --background: transparent;
      --color: #fff;
      ion-label {
        font-weight: bold;
        font-size: 2em;
      }
      ion-input {
        font-size: 1.3em;
      }
    }
    .signin {
      margin: 5vh 0;
    }

    .featuredItems {
      margin-top: 10vh;
      ion-text {
        font-weight: bold;
        font-size: 1em;
        text-decoration: underline;
      }
    }
  }
}
