<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      (click)="goHome()"
      class="back"
      name="chevron-back-outline"
    ></ion-icon>
  </ion-toolbar>
  <ion-row>
    <ion-label> Ingresar </ion-label>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding-horizontal ion-margin-horizontal">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="ion-margin-bottom">
        <ion-item>
          <ion-input
            color="white"
            placeholder="Correo Electronico"
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>
      </div>
      <div class="ion-margin-bottom">
        <ion-item>
          <ion-input
            color="white"
            placeholder="Contraseña"
            type="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
      </div>
      <ion-item lines="none" class="signin" class="Ingresar">
        <ion-label color="white"> Ingresar </ion-label>
        <ion-fab-button color="primary" slot="end" (click)="onSubmit()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>
      </ion-item>
      <ion-toast
        color="danger"
        [isOpen]="isToastOpen"
        message="Correo electrónico o Contraseña incorrecto"
        [duration]="3000"
        (didDismiss)="setOpen(false)"
      ></ion-toast>
    </form>

    <ion-item lines="none" class="featuredItems">
      <ion-text slot="start" color="white" (click)="goRegister()"
        >¿No tenes cuenta? ¡Registrate!
      </ion-text>
    </ion-item>
  </ion-list>
  <div class="btnLogin">
    <ion-button (click)="userA()" shape="round">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="userB()" shape="round">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="userC()" shape="round">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
